<ion-header-bar align-title="center" class="bar bar-header bar-assertive">
	<b><h1 class="title">INFORMACIÓN</b></h1>
</ion-header-bar>


<ion-content padding="true" overflow-scroll="true">
	<div id="ContenidoInformacion">
		<b>Programa computacional desarrollado para equipos móviles con plataforma android<br><br>

		<figure><img src="img/logo.png" width="60%"></figure><br>

		Versión 1_5_0 - Abril 2016<br>
		Módulos Funcionales de la version:<br>
		- Lectura de Medidores <br>
		- Facturacion en Sitio <br>	
		- Catastro Usuarios <br><br></b>

		<figure><img src="img/logomisionvidaweb.png" width="60%"></figure><br><br><br>

	<b>Carrera 7 No. 16-50 Oficina 903<br>
	Pereira - Risaralda<br>
	Teléfono +57(6)3342645</b>
	</div>
</ion-content>

<ion-footer-bar align-title="center" class="tabs tabs-assertive tabs-icon-top">
 	<a class="tab-item active" href="#/menuprincipal" id="btnSalir">
		<i class="icon ion-share larger" style="font-size:3.5em;"></i>
		Salir
	</a>
</ion-footer-bar>