<ion-header-bar align-title="center" class="bar bar-header bar-assertive">
	<h1 class="title"><b>ESCOJA CICLO Y RUTA</b></h1>
</ion-header-bar>

<ion-content padding="true" overflow-scroll="true">
	<input id="inputControlCR" type="number" readonly style="display:none;">
	<div align="center" id="listaCR" class="list" style="width:100%">
		<ul>
			<li ng-repeat="dato in listacicloruta">
				<a id='Ciclo{{dato.ciclo}}ruta{{dato.ruta}}' class='item item-divider pintarCRSinDiligenciar' ng-click='primeraLectura({{dato.ciclo}},{{dato.ruta}},{{dato.numDato}})' href='#/medidorlecturas'>Ciclo: {{dato.ciclo}} - Ruta: {{dato.ruta}}</a><a id='idBotonDesc' ng-click='DescargarArchivo({{dato.ciclo}},{{dato.ruta}})' class='item item-divider' href='#' style='background-color: #0088C4; color: #fff; font-weight: bold; opacity: 1;'>Descargar</a><p style="background:transparent;" class='item item-divider'></p>
			</li>
		</ul>
	</div>
</ion-content>

<ion-footer-bar align-title="center" class="tabs tabs-assertive tabs-icon-top">
 	<a class="tab-item active" id="btnSalir" href="#/menuprincipal">
		<i class="icon ion-share larger" style="font-size:3.5em;"></i>
		Salir
	</a>
</ion-footer-bar>

	<script>

		contarRegistrosCR();
		function contarRegistrosCR()
		{
			var idbd = document.getElementById("idOperario").value;
			var t;
			dbShell.transaction(function(tx) 
			{    		
				tx.executeSql("select  Count(*) as Cantidad FROM AsignacionRutas where Oper=?", [idbd],
				function(tx, result)
				{	
					var CantidadTotal = parseInt(result.rows.item(0)['Cantidad']);
					var cantidadCR = document.getElementById("inputControlCR").value;

					if(CantidadTotal != cantidadCR)
					{
						t = setTimeout("contarRegistrosCR()", 1000);
					}

					else
					{
						clearTimeout(t);
						crDiligenciados();
					}
				});
			});
		}

		function crDiligenciados()
		{
			var idbd = document.getElementById("idOperario").value;
	    	dbShell.transaction( function(tx) 
			{            
				tx.executeSql("SELECT * FROM AsignacionRutas where Oper=?", [idbd],                
				function(tx, result)
				{                  
					for(var i=0; i < result.rows.length; i++) 
					{   
						if(result.rows.length != 0)
						{
							var ciclo = result.rows.item(i)['Ciclo'];
							var ruta = result.rows.item(i)['Ruta'];
							pintarCR(ciclo,ruta);
							//
							//
						}
					}              
				});    
			});
		}

		function pintarCR(ciclo,ruta)
		{
			dbShell.transaction(function(tx) 
			{            
				tx.executeSql("SELECT * FROM UsuariosServicios where Ciclo=? and Ruta=?", [ciclo,ruta],                
				function(tx, result)
				{
					var id = "Ciclo"+ciclo+"ruta"+ruta;
					var contador = 0;         
					for(var i = 0; i < result.rows.length; i++) 
					{   
						var a1 = result.rows.item(i)['LecturaActual'];
						var a2 = result.rows.item(i)['CausalActual'];
						var a3 = result.rows.item(i)['ObservacionActual'];

						if(a1 != '' || a2 >= 1)
						{
							contador = i+1;
						}

						if(contador == result.rows.length)
						{
							$("#divCR #"+id).removeClass('pintarCRSinDiligenciar');
							$("#divCR #"+id).addClass('pintarCRDiligenciado');
						}	
					}		             
				});    
			});    
		}
	</script>
