<ion-header-bar align-title="center" class="bar bar-header bar-assertive">
	<b align="center">PRIMERA OBSERVACIÓN</b>
	<input ng-model="buscarObs1Cargue" placeholder="Buscar" type="text" style="font-weight:bold; border: none; color:black; font-size:15px; border-radius:30px; text-align:center;">
</ion-header-bar>

<ion-header-bar align-title="center" id="subheaderObs1Cargue" class="bar bar-subheader bar-assertive">
	<div class="row" id="divObs1" style="font-weight:bold; border: none; color:black; font-size:1em;">
		<div class="col col-25">
			<input style="font-weight:bold; border: none; background-color: transparent; color:white; font-size:1.5em; border-radius:30px; text-align:center;" id="txtCodObservacionCargue" type="text" readonly>
		</div>
		<div class="col col-75">
			<input style="font-weight:bold; text-align:center; background-color: transparent; text-transform: uppercase; border: none; color:white; text-decoration: underline; font-size:1.2em; width:95%;" id="txtNomObservacionCargue" type="text" readonly>
		</div>
	</div>
	<div class="row">
		<div class="col col-20" style="text-align:center;">
			<b>ID</b>
		</div>					
		<div class="col col-80" style="text-align:center;">
			<b>DESCRIPCIÓN</b>
		</div>
	</div>
</ion-header-bar>

<ion-content padding="true" id="contenidoObs1Cargue" overflow-scroll="true">
	<div id="contenidoLista">
		<ul id="listaObsCargue">
			<li id="ob1cargue{{dato.id}}" ng-click="mostrarObs1cargue({{dato.id}})" ng-repeat="dato in obs1cargue | filter: buscarObs1Cargue"> 
				<a class='item item-divider'><div class='row'><div class='col col-10'>{{dato.idObs}}</div><div class='col col-90' style='text-align:left;'>{{dato.nombreObs | uppercase}}</div></div></a>
			</li>
		</ul>
	</div>
</ion-content>

<ion-footer-bar class="tabs tabs-assertive tabs-icon-top">
	<a class="tab-item active" ng-click="verficarFotoObservacion4()" id="verificarObservacion4">
		<i class="icon ion-checkmark larger"></i>
		Confirmar
 	</a>
 	<a class="tab-item active" href="#/medidorlecturas">
		<i class="icon ion-share larger"></i>
		Volver
 	</a>
</ion-footer-bar>