<ion-header-bar align-title="center" class="bar bar-header bar-assertive">
	<h1 class="title"><b>CATASTRO USUARIOS</b></h1>
</ion-header-bar>
<ion-header-bar align-title="center" id="subheaderCat" class="bar bar-subheader bar-assertive">
	<div class="row">
		<!-- Input Fecha-->
		<div class="col col-40" align="center">
			<input style="font-size:0.9em; margin-top: -10px; padding:0; background-color: transparent; color: white; border: none; vertical-align: top; text-align: center;" id="fechaCat" type="text" readonly>
		</div>
		<!-- Logo Empresa-->
		<div class="col col-20" align="center">
			<img id="logoEmpresaESPCatastro" style="width:50%; margin-top: -10px;">
		</div>
		<!-- Input Hora-->
		<div class="col col-40" align="center">
			<input style="font-size:0.9em; margin-top: -10px; padding:0; background-color: transparent; color: white; border: none; vertical-align: top; text-align: center;" id="horaCat" type="text" readonly>
		</div>
	</div>
</ion-header-bar>

<ion-content padding="true" overflow-scroll="true" id="contentCat" style="margin-bottom:10px;">
	<div id="contenidoCat" style="width:90%; margin:0 auto 0 auto;">
		<!--Input Impreso (Control)-->
		<input id="numeroFotosCat" type="number" style="font-size:1px; display:none;" readonly>

		<!--Input longitudCat (Control)-->
		<input id="longitudCat" type="text" style="font-size:1px; display:none;" readonly>

		<!--Input NlatitudCat (Control)-->
		<input id="latitudCat" type="text" style="font-size:1px; display:none;" readonly>

		<!--Input altitudCat (Control)-->
		<input id="altitudCat" type="text" style="font-size:1px; display:none;" readonly>

		<!--Input horaInicialCat (Control)-->
		<input id="horaInicialCat" type="text" style="font-size:1px; display:none;" readonly>

		<!--Input horaFinalCat (Control)-->
		<input id="horaFinalCat" type="text" style="font-size:1px; display:none;" readonly>

		

		<div id="preguntas">
			<ul id="listaPreguntas">
				
			</ul>
		</div>
		<p id="mensajeError" style="font-size:1em; text-align:center; color:#ef473a; font-weight:bold;"></p>
	</div>
	
	<div id="contenidoNuevaEncuestaDiv" style="width:80%; margin:25vh auto 0 auto;">
		<a id="contenidoNuevaEncuesta" ng-click="recargarCatastro()">
	 		<p style="font-size: 4em; text-align:center; color:#ef473a; font-weight:bold;"><i class="icon ion-android-arrow-down"></i></p>
			<p style="font-size: 1.5em; text-align:center; color:black; font-weight:bold;">Presione aquí para empezar una nueva encuesta</p>
		</a>
	</div>

    <!--Input Número de Total preguntas (Control)-->
    <input id="totalPreguntas" type="number" style="font-size:1px; display:none;" readonly>

    <input id="numeroControl" type="number" style="font-size:1px; display:none;" readonly>
</ion-content>

<ion-footer-bar align-title="center" class="tabs tabs-assertive tabs-icon-top">
	<!--Botón Geolocalización -->
	<a class="tab-item active" id="UbicarCat" onClick="geolicalizacionCat()">
		<i  class="icon ion-android-locate larger"></i>
		Ubicación
	</a>
	<!--Botón Cámara -->
	<a class="tab-item active" id="FotoCat" ng-click="FotoCatastro()">
		<i  class="icon ion-camera larger"></i>
		Cámara
	</a>
	<!--Botón Lectura Anterior -->
	<a class="tab-item active" id="btnAntCat" ng-click="anteriorPregunta()">
		<i class="icon ion-chevron-left larger" style="font-size:3.5em;">
		</i>
		Anterior
	</a>

	<!--Botón Lectura Siguiente-->
	<a class="tab-item active" id="btnSigCat" ng-click="siguientePregunta()">
		<i class="icon ion-chevron-right larger" style="font-size:3.5em;">
		</i>
		Siguiente
	</a>

	<!--Botón Lectura Siguiente-->
	<a class="tab-item active" id="btnGuardarCat" ng-click="guardarEncuesta()">
		<i class="icon ion-checkmark-round larger" style="font-size:3.5em;">
		</i>
		Guardar
	</a>

	<!--Botón Salir-->
	<a class="tab-item active" id="btnSalirCat" ng-click="salirDeCatastro()">
		<i class="icon ion-share larger" style="font-size:3.5em;"></i>
		Salir
	</a>
</ion-footer-bar>

	<script>
		horayfechaCat();
		function horayfechaCat()
		{
			var date = new Date();
			var d  = date.getDate();
			var day = (d < 10) ? '0' + d : d;
			var w = date.getMonth() + 1;
			var month = (w < 10) ? '0' + w : w;
			var yy = date.getYear();
			var year = (yy < 1000) ? yy + 1900 : yy;

			document.getElementById('fechaCat').value=day + "/" + month + "/" + year;

			var dia = new Date();
			var h=dia.getHours();
			var m=dia.getMinutes();
			var s=dia.getSeconds();
			var min = checkTime(m);
			var seg = checkTime(s);
			document.getElementById('horaCat').value=h+":"+min+":"+seg;

			setTimeout("horayfechaCat()", 500)
		}
		
		function checkTime(i)
		{
		    if(i<10)
		    {
		        i = "0" + i;
		    }
		    return i;
		}

		function geolicalizacionCat() 
		{
			navigator.geolocation.getCurrentPosition(onInfoGeoCat, onErrorGeoCat);
		}

		function onInfoGeoCat(position)
		{
			var lat = position.coords.latitude;
			var lon = position.coords.longitude;
			var alti = position.coords.altitude;
			document.getElementById('longitudCat').value = lat; 
			document.getElementById('latitudCat').value = lon; 
			document.getElementById('altitudCat').value = alti;
			console.log(lat);
			console.log(lon);
			console.log(alti);
			swal("Correcto","Coordenadas guardadas","success");
		}

		function onErrorGeoCat(error){
			document.getElementById('longitudCat').value = "0"; 
			document.getElementById('latitudCat').value = "0"; 
			document.getElementById('altitudCat').value = "0";
			console.log(lat);
			console.log(lon);
			console.log(alti);
			swal("Correcto","Coordenadas guardadas","success");
		}

	</script>